<div class="servicio-item">
  <div class="nombre">{{servicio.nombre}}</div>
  <div class="precio">{{servicio.precio}}</div>
  <div>
    <img  [class]="servicio.novedad?'imagen-novedad':'imagen'"
    [src]="servicio.imagen">
  </div>
  <div>Cantidad: {{unidades}}</div>
  <div>
    <button (click)="restar()" [disabled]="unidades===0">
      -
    </button>
    <button (click)="sumar()">
      +
    </button>

  </div>
</div>

<h3>Proveedor que realizará el servicio</h3>
<div class="item-proveedor">
  <div class="nombre-pro">{{proveedor.nombre}}</div>
  <div class="apellidos-pro">{{proveedor.apellidos}}</div>
  <div class="nif">{{proveedor.nif}}</div>
  <div class="foto-pro">
    <img class="foto" [src]="proveedor.foto">
  </div>
  <div class="valoracion-pro">Valoración: {{proveedor.valoracion}}</div>


</div>
